.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-content {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-wrap {
    flex-wrap: wrap;
}

.flex.grow1 {
    flex-grow: 1;
}

/* Flexbox with hidden attribute contradict, quick fix: */
[hidden] {
    display: none;
}