.canvas-container {
  /* background-color: #fff; */
  flex-basis: 50%;
  justify-content: center;
}

#color-palette {
  position: absolute;
  visibility: hidden;
}

.canvas-container button {
  background-color: var(--clr5);
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 var(--clr4);
}

.font-color,
.add-line {
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 var(--clr4);
  border-radius: 2px;
  padding: 4px;
  background-color: var(--clr5);
}

.control-box {
  flex-basis: 50%;
  margin: 10px;
}

.control-box>* {
  margin: 6px;
}

/* 

.control-box .search-field{
  
} 

.edit-group-1,.edit-group-2 > *{
  margin:2px;
} 

.edit-group-2 > *{
  margin:2px;
} 

.btns-row-2,.btns-row-1 > *{
  margin:2px;
} */

.switch-line::before {
  content: "\e099";
}

.add-line::before {
  content: "\2b";
}

.delete-line::before {
  content: "\f1f8";
}

.increase-font::after {
  content: "\2b";
  font-size: 15px;
  vertical-align: text-top;
}

.decrease-font::after {
  content: "-";
  font-size: 15px;
  vertical-align: text-top;
}

.align-l::before {
  content: "\f036";
}

.align-c::before {
  content: "\f039";
}

.align-r::before {
  content: "\f038";
}

.font-family::before {
  content: "\f1f8";
}

.draw::before {
  content: "\f303";
}

.font-color::before {
  content: "\f53f";
}

.share::before {
  content: "\f1e0";
}

.download::before {
  content: "\f019";
}