header {
  top: 0;
  background-image: var(--clr0);
  height: 100px;
  position: fixed;
  width:100%;
  z-index: 3;
}

.logo {
  margin: auto 0 auto 30px;
  font-family: logo;
  color: var(--clr5);
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.logo:hover{
  text-shadow: 0 0 9px var(--clr17);
}

/* TABLET */
@media (min-width: 600px) {

  header {
    top: auto;
    width: auto;
    position: static;
    margin: 14px;
    border-radius: 4rem;
    height: 73px;
  }
  
  header button.active {
    box-shadow: 0 3px 6px 1px var(--clr7);
    border-radius: 1em;
    background-color: var(--clr6);
    color: var(--clr9);
    border: none;
    padding: 0.25em 0.8em;
  }
  
  header button:not(.active) {
    border: none;
    background-color: var(--clr8);
    color: var(--clr5);
  }
  
  header nav {
    margin: auto 30px auto 0;
  }

  .saved-btn {
    margin-inline-start: 10px;
  }

  .saved-btn:not(.active):hover,.gallery-btn:not(.active):hover {
    text-shadow: 0 0 9px var(--clr17);

  }
}

/* DESKTOP */
@media (min-width: 970px) {
  .logo {
    margin: auto 0 auto 81px;
  }

  header nav {
    margin: auto 263px auto 0;
  }

  .saved-btn {
    margin-inline-start: 42px;
  }
}



