/* GENERAL HOME PAGE */
.home-page {
    padding: 0.952rem;
    background-color: var(--clr3);
    margin: 14px;
    margin-top: 114px;
    border-radius: 0.476rem;
}

.filter {
    flex-wrap: wrap;
}

/* SEARCH TOOLS */

.home-page .search-button::before {
    content: "\f002";
    /* Makes magnifying glass gradient */
    background-image: var(--clr0);
    -webkit-background-clip: text;
    color: transparent;
}

.home-page .search-field {
    font-size: 1rem;
    padding: 0.625em 2.1875em 0.625em 2.1875em;
    width: calc(100vw - 0.952rem - 0.952rem - 14px - 14px);
    border-radius: 1.38em;
    margin-bottom: 22px;
    font-family: pop-r;
    border: none;
    background-color: var(--clr1);
    color: var(--clr6);
}

.search-button {
    margin-bottom: 22px;
    position: relative;
    background: transparent;
    border: none;
    margin-inline-start: -2.09em;
}

.key-words {
    height: 40px;
    box-shadow: 0 3px 6px 1px var(--clr7);
    width: calc(100vw - 0.952rem - 0.952rem - 14px - 14px - 4.762em - 20px);
    margin: 0 10px 30px 0px;
    background-color: var(--clr2);
    color: var(--clr6);
    border-radius: 2rem;
    white-space: nowrap;
    overflow: hidden;
}

.keyword {
    cursor: pointer;
}

.keyword:hover {
    text-shadow: 2px 0 12px var(--clr17);
}

.more-btn,
.hide-btn {
    margin: 0 0px 30px 10px;
    box-shadow: 0 3px 6px 1px var(--clr7);
    background-image: var(--clr0);
    border: none;
    border-radius: 2em;
    font-size: 0.857em;
    color: var(--clr5);
    padding-inline: 24.99px;
}

.more-btn:hover,
.hide-btn:hover {
    opacity: 0.8;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    margin-top: 1rem;
    gap: 1.428rem;
}

.gallery-img {
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 0.476rem;
    cursor: pointer;
    box-shadow: 0px 2px 7px 0px var(--clr12);
}

.gallery-img:hover {
    opacity: 0.8;
}

.upload::before {
    content: '+';
    font-size: 6.8rem;
    color: var(--clr2);
    display: flex;
    align-items: center;
}

.upload:hover::before {
    font-size: 2rem;
    content: 'Upload';
    display: flex;
    align-items: center;
}

/* TABLET */
@media (min-width: 600px) {

    .home-page {
        margin-top: 0;
        padding: 1.19rem;
    }

    form {
        flex-basis: calc((100% - 6.762em) / 2);
    }

    .key-words {
        flex-basis: calc((100% - 6.762em) / 2);
        margin: 0;
        margin-inline: 1rem;
        height: 2.1em;
    }

    .home-page .search-field {
        flex-basis: 100%;
        padding: 0 2.1875em 0 2.38em;
        height: 2.762em;
        border-radius: 2em;
        width: 0;
        margin-bottom: 0;
    }

    .home-page .search-button {
        margin-bottom: 0;
    }

    .more-btn,
    .hide-btn {
        margin: 0;
        height: 1.9em;
    }

    .words-2:not(.hide-btn),.words-3:not(.hide-btn){
        margin-inline-start: calc((100% - 6.762em) / 2 + 1rem);
        margin-block: 10px;
    }
}

/* DESKTOP */
@media (min-width: 970px) {
    .home-page {
        height: 100%;
    }

    .gallery {
        margin: 1rem 0 1rem 1rem;
        padding-inline-end: 2rem;
        height: calc(100vh - (73px + 14px + 14px + 1.19rem + 2rem + 2.761rem + 1.2em + 1rem));

        overflow-y: scroll;
        cursor: auto;
    }

    /* scrollbar width */
    .gallery::-webkit-scrollbar {
        width: 13px;
    }

    /* scrollbar track */
    .gallery::-webkit-scrollbar-track {
        background-color: var(--clr1);
        border-radius: 10.286rem;
    }

    /* scrollbar handle */
    .gallery::-webkit-scrollbar-thumb {
        border-radius: 10.286rem;
        background-image: var(--clr0);
    }

    /* scrollbar handle hover */
    .gallery::-webkit-scrollbar-thumb:hover {
        background-image: var(--clr10);
    }
}