.modal {
    opacity: 0;
    pointer-events: none;

    position: fixed;
    margin: auto;
    height: calc(100vh - 100px);
    background-color: #fefefe;
    z-index: 2;
    border: none;
    top: 100px;
    text-align: center;
    padding: 10px;
}

body.modal-open .modal {
    opacity: 1;
    pointer-events: auto;

    transition: opacity 0.6s;
}

.modal>* {
    margin: 0.6rem;
}

.words {
    border-radius: 4rem;
    padding: 20px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid var(--clr7);
}

.modal-btn {
    border: none;
    color: var(--clr1);
    background-color: var(--clr4);
    cursor: pointer;
}

.modal-btn:hover {
    color: var(--clr16);
}

.user-msg {
    position: fixed;
    top: 114px;
    left: -100vw;
    background-image: var(--clr0);
    padding: 10px;
    border-radius: 10px;
    color: var(--clr5);
    transition: left .5s;
    z-index: 2;
}

.user-msg.open {
    left: 10px;
}

/* TABLET AND DESKTOP */
@media (min-width:600px) {
    .modal {
        inset: 0;
        border: 2px solid black;
        height: min-content;
        margin-inline: calc(100vw / 10);
        border-radius: 0.6rem;
    }

    .modal-btn {
        margin: 10px;
    }

    .modal-dark-screen {
        opacity: 0;
        pointer-events: none;
    }

    body.modal-open .modal-dark-screen {
        position: fixed;
        inset: 0;
        background-color: var(--clr11);
        cursor: pointer;
        transition: opacity 0.6s;
        z-index: 1;
        pointer-events: auto;
        opacity: 1;
    }
}