:root {
    /* pallete */
    /* gradient colors */
    --clr0: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);

    /* bgc */
    --clr1: #22252c;

    /* keywords bgc */
    --clr2: rgb(254, 254, 254,  0.4);

    /* main-page bgc */
    --clr3: #383b42;

    /* box shadow for edit page */
    --clr4:rgba(255, 255, 255, 0.58);

    /* white color */
    --clr5: #ffffff;

    /* header btns */
    --clr6: #fefefe;

    /* box shadow for home page btns */
    --clr7: rgba(0, 0, 0, 0.15);
    
    /* see through */
    --clr8: rgba(0, 0, 0, 0);

    /* button text color header */
    --clr9:  #21ac91;
    
    /* gradient colors for hover */
    --clr10: linear-gradient(-86deg, #2aac60 0%, #0a7f99 100%);
    
    /* dark screen */
    --clr11:  rgba(18, 18, 18, 0.859);

    /* image shading */
    --clr12:  rgba(0, 0, 0, 0.561);

    /* bp */
    /* --s: 600px;
    --m: 740px;
    --l: 980px; */
}